{% extends "baseFront.html.twig" %}
{% block hero %}

<img src="{{ asset('C:\Users\Eya\Desktop\pi\robe.PNG') }}" alt="Ma photo">
  <button type="button" class="btn btn-outline-success"><a href= {{ path('app_affiche_classroom')}}> Commenter</button>

{% endblock %}