{% extends "baseFront.html.twig" %}
{% block hero %}

<img src="{{ asset('img/robe.jpg') }}" alt="Ma photo"  width="500" height="500">
  <button type="button" class="btn btn-outline-success"><a href= {{ path('app_affiche_classroom')}}> Commenter</button>

{% endblock %}